<section class="right-content">
  <div class="page_title">
    <h1 class="title_page_h1">
      Tin tức

      <span class="blog_count">(3 Bài viết) </span>
    </h1>
  </div>

  <section class="list-blogs blog-main">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 item_i">
        <article class="blog-item blog-item-grid row">
          <div class="wrap_blg row">
            <div class="blog-item-thumbnail img1 col-sm-4"
              onclick="window.location.href='/chang-can-dau-tu-do-dat-tien-chi-chut-gel-nha-dam-la-du-de-ban-phuc-hoi-cho-toc-mem-muot-bong-benh-sau-tet';">
              <a
                href="/chang-can-dau-tu-do-dat-tien-chi-chut-gel-nha-dam-la-du-de-ban-phuc-hoi-cho-toc-mem-muot-bong-benh-sau-tet">
                <picture>
                  <source media="(max-width: 480px)" srcset="
                      //bizweb.dktcdn.net/thumb/large/100/379/259/articles/03.jpg?v=1583402080087
                    " />
                  <source media="(min-width: 481px) and (max-width: 767px)" srcset="
                      //bizweb.dktcdn.net/thumb/large/100/379/259/articles/03.jpg?v=1583402080087
                    " />
                  <source media="(min-width: 768px) and (max-width: 1023px)" srcset="
                      //bizweb.dktcdn.net/thumb/large/100/379/259/articles/03.jpg?v=1583402080087
                    " />
                  <source media="(min-width: 1024px) and (max-width: 1199px)" srcset="
                      //bizweb.dktcdn.net/thumb/medium/100/379/259/articles/03.jpg?v=1583402080087
                    " />
                  <source media="(min-width: 1200px)" srcset="
                      //bizweb.dktcdn.net/thumb/large/100/379/259/articles/03.jpg?v=1583402080087
                    " />
                  <img src="//bizweb.dktcdn.net/100/379/259/articles/03.jpg?v=1583402080087" style="max-width: 100%"
                    class="img-responsive"
                    alt="Chẳng cần đầu tư đồ đắt tiền, chỉ chút gel nha đam là đủ để bạn phục hồi cho tóc mềm mượt, bồng bềnh sau Tết" />
                </picture>
              </a>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 content_ar">
              <h3 class="blog-item-name" [routerLinkActive]="['link-active']">
                <!-- <a class="text2line"
                  href="/chang-can-dau-tu-do-dat-tien-chi-chut-gel-nha-dam-la-du-de-ban-phuc-hoi-cho-toc-mem-muot-bong-benh-sau-tet">Chẳng
                  cần đầu tư đồ đắt tiền, chỉ chút gel nha đam là đủ để
                  bạn phục hồi cho tóc mềm mượt, bồng bềnh sau Tết</a> -->
                <a class="text2line"
                  [routerLink]="['/article-detail']">Chẳng
                  cần đầu tư đồ đắt tiền, chỉ chút gel nha đam là đủ để
                  bạn phục hồi cho tóc mềm mượt, bồng bềnh sau Tết</a>
              </h3>
              <span class="time_post"><i class="fa fa-clock-o"></i>&nbsp; 05/03/2020</span>
              <div class="summary_ text3line">
                Nếu bạn đang rầu rĩ vì mái tóc khô cằn, xơ xác sau hàng loạt
                trận uốn, nhuộm, tạo kiểu chơi Tết thì đây có thể là giải pháp
                ngon-bổ-rẻ nhất giúp bạn phục hồi lại mái tóc mây bồng bềnh. Nói
                đến nha đam (lô hội), các tín đồ là...
              </div>
            </div>
          </div>
        </article>
        <article class="blog-item blog-item-grid row">
          <div class="wrap_blg row">
            <div class="blog-item-thumbnail img1 col-sm-4"
              onclick="window.location.href='/chang-can-dau-tu-do-dat-tien-chi-chut-gel-nha-dam-la-du-de-ban-phuc-hoi-cho-toc-mem-muot-bong-benh-sau-tet';">
              <a
                href="/chang-can-dau-tu-do-dat-tien-chi-chut-gel-nha-dam-la-du-de-ban-phuc-hoi-cho-toc-mem-muot-bong-benh-sau-tet">
                <picture>
                  <source media="(max-width: 480px)" srcset="
                      //bizweb.dktcdn.net/thumb/large/100/379/259/articles/03.jpg?v=1583402080087
                    " />
                  <source media="(min-width: 481px) and (max-width: 767px)" srcset="
                      //bizweb.dktcdn.net/thumb/large/100/379/259/articles/03.jpg?v=1583402080087
                    " />
                  <source media="(min-width: 768px) and (max-width: 1023px)" srcset="
                      //bizweb.dktcdn.net/thumb/large/100/379/259/articles/03.jpg?v=1583402080087
                    " />
                  <source media="(min-width: 1024px) and (max-width: 1199px)" srcset="
                      //bizweb.dktcdn.net/thumb/medium/100/379/259/articles/03.jpg?v=1583402080087
                    " />
                  <source media="(min-width: 1200px)" srcset="
                      //bizweb.dktcdn.net/thumb/large/100/379/259/articles/03.jpg?v=1583402080087
                    " />
                  <img src="//bizweb.dktcdn.net/100/379/259/articles/03.jpg?v=1583402080087" style="max-width: 100%"
                    class="img-responsive"
                    alt="Chẳng cần đầu tư đồ đắt tiền, chỉ chút gel nha đam là đủ để bạn phục hồi cho tóc mềm mượt, bồng bềnh sau Tết" />
                </picture>
              </a>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 content_ar">
              <h3 class="blog-item-name">
                <a class="text2line"
                  href="/chang-can-dau-tu-do-dat-tien-chi-chut-gel-nha-dam-la-du-de-ban-phuc-hoi-cho-toc-mem-muot-bong-benh-sau-tet">Chẳng
                  cần đầu tư đồ đắt tiền, chỉ chút gel nha đam là đủ để
                  bạn phục hồi cho tóc mềm mượt, bồng bềnh sau Tết</a>
              </h3>
              <span class="time_post"><i class="fa fa-clock-o"></i>&nbsp; 05/03/2020</span>
              <div class="summary_ text3line">
                Nếu bạn đang rầu rĩ vì mái tóc khô cằn, xơ xác sau hàng loạt
                trận uốn, nhuộm, tạo kiểu chơi Tết thì đây có thể là giải pháp
                ngon-bổ-rẻ nhất giúp bạn phục hồi lại mái tóc mây bồng bềnh. Nói
                đến nha đam (lô hội), các tín đồ là...
              </div>
            </div>
          </div>
        </article>
        <article class="blog-item blog-item-grid row">
          <div class="wrap_blg row">
            <div class="blog-item-thumbnail img1 col-sm-4"
              onclick="window.location.href='/chang-can-dau-tu-do-dat-tien-chi-chut-gel-nha-dam-la-du-de-ban-phuc-hoi-cho-toc-mem-muot-bong-benh-sau-tet';">
              <a
                href="/chang-can-dau-tu-do-dat-tien-chi-chut-gel-nha-dam-la-du-de-ban-phuc-hoi-cho-toc-mem-muot-bong-benh-sau-tet">
                <picture>
                  <source media="(max-width: 480px)" srcset="
                      //bizweb.dktcdn.net/thumb/large/100/379/259/articles/03.jpg?v=1583402080087
                    " />
                  <source media="(min-width: 481px) and (max-width: 767px)" srcset="
                      //bizweb.dktcdn.net/thumb/large/100/379/259/articles/03.jpg?v=1583402080087
                    " />
                  <source media="(min-width: 768px) and (max-width: 1023px)" srcset="
                      //bizweb.dktcdn.net/thumb/large/100/379/259/articles/03.jpg?v=1583402080087
                    " />
                  <source media="(min-width: 1024px) and (max-width: 1199px)" srcset="
                      //bizweb.dktcdn.net/thumb/medium/100/379/259/articles/03.jpg?v=1583402080087
                    " />
                  <source media="(min-width: 1200px)" srcset="
                      //bizweb.dktcdn.net/thumb/large/100/379/259/articles/03.jpg?v=1583402080087
                    " />
                  <img src="//bizweb.dktcdn.net/100/379/259/articles/03.jpg?v=1583402080087" style="max-width: 100%"
                    class="img-responsive"
                    alt="Chẳng cần đầu tư đồ đắt tiền, chỉ chút gel nha đam là đủ để bạn phục hồi cho tóc mềm mượt, bồng bềnh sau Tết" />
                </picture>
              </a>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 content_ar">
              <h3 class="blog-item-name">
                <a class="text2line"
                  href="/chang-can-dau-tu-do-dat-tien-chi-chut-gel-nha-dam-la-du-de-ban-phuc-hoi-cho-toc-mem-muot-bong-benh-sau-tet">Chẳng
                  cần đầu tư đồ đắt tiền, chỉ chút gel nha đam là đủ để
                  bạn phục hồi cho tóc mềm mượt, bồng bềnh sau Tết</a>
              </h3>
              <span class="time_post"><i class="fa fa-clock-o"></i>&nbsp; 05/03/2020</span>
              <div class="summary_ text3line">
                Nếu bạn đang rầu rĩ vì mái tóc khô cằn, xơ xác sau hàng loạt
                trận uốn, nhuộm, tạo kiểu chơi Tết thì đây có thể là giải pháp
                ngon-bổ-rẻ nhất giúp bạn phục hồi lại mái tóc mây bồng bềnh. Nói
                đến nha đam (lô hội), các tín đồ là...
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
</section>