.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
/* title-head-article */
.content_ar {
    border-bottom: dashed 1px #ebebeb;
}
.article-main .title-head-article {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    margin: 0px 0 15px;
    color: #333;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    letter-spacing: 0px;
}

.article-main .title-head-article a {
    text-decoration: none;
}

/* time_post */
.time_post {
    color: #acacac;
    font-family: 'Noto Serif', serif;
    font-size: 14px;
}

.time_post .fa {
    font-family: 'FontAwesome';
    color: #ffbd07;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* pot */
.article-main .pot {
    font-family: 'Noto Serif', serif;
    font-size: 14px;
    color: #acacac;
    font-weight: 400;
}

.article-main .pot .name_ {
    color: #ffbd07;
}

/* article-details */
.article-main .article-content {
    font-size: 14px;
}

/* rte */
.article-main .article-content .rte {
    font-size: 14px;
    color: #898989;
    line-height: 24px;
}

.rte h1:first-child, .rte .h1:first-child, .rte h2:first-child, .rte .h2:first-child, .rte h3:first-child, .rte .h3:first-child, .rte h4:first-child, .rte .h4:first-child, .rte h5:first-child, .rte .h5:first-child, .rte h6:first-child, .rte .h6:first-child {
    margin-top: 0;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #323c3f;
    letter-spacing: 0px;
}
h2, .h2 {
    font-size: 2em;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    line-height: 1.4;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

h2 {
    display: block;
    font-size: 1.7em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.article-main .article-content .rte p {
    color: #898989;
    margin: 0px;
    padding: 0px;
}

/* content_ar */
.blog_other {
    margin-top: 1.2em;
}
/* title_module */
.title_module {
    display: block;
    line-height: 40px;
    z-index: 9;
}

.title_module h2 {
    margin: 0px;
    line-height: 28px;
    font-size: 18px;
    padding: 0px 0px 0px;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #323c3f;
    letter-spacing: 0px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.title_module h2 a, .title_module h2 span, .title_module h2 .fa {
    color: #333;
    text-decoration: none;
}

.margin-top-20 {
    margin-top: 20px !important;
}
ul {
    list-style: none outside;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul, ol {
    margin: 0;
    padding: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.blog-item-name {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin: 0px 0px 10px;
    color: #333;
}

.blog-item-name a {
    color: #333;
    text-decoration: none;
}
.text1line {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

/* article-comments */
#article-comments {
    margin-top: 30px;
}

.title-form-coment {
    position: relative;
    font-size: 16px;
    color: #333;
    display: block;
    font-weight: 500;
}

.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#article-comments .article-comment {
    margin: 15px 0px;
}

#article-comments .article-comment-user-image {
    margin: 0;
    float: left;
    width: 70px;
    margin-right: 12px;
    border: solid 2px #fff;
    border-radius: 50%;
    overflow: hidden;
}

figure {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.block {
    display: block !important;
}

img {
    border: 0 none;
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
}

#article-comments .article-comment-user-comment {
    padding-left: 10px;
    font-size: 14px;
    color: #2d2d2d;
    padding-bottom: 15px;
    border-bottom: solid 1px #ebebeb;
    display: inline-block;
    width: calc(100% - 90px);
}

/* form */
form {
    margin-bottom: 30px;
}

form {
    display: block;
    margin-top: 0em;
}

input {
    display: inline-block;
    width: auto;
}

input, textarea, select, fieldset {
    border-radius: 0;
    max-width: 100%;
}

input, textarea, button, select {
    font-size: 1em;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.fcm .form-group {
    margin: 0;
    padding: 0px 15px;
    padding-bottom: 15px;
}

input, textarea, select, fieldset {
    border-radius: 0;
    max-width: 100%;
}

.fcm .form-group label {
    font-size: 14px;
    font-weight: 400;
    color: #999;
    padding-bottom: 10px;
}
.hidden {
    display: none!important;
}
label {
    cursor: default;
}
.fcm .form-group input, .fcm .form-group textarea {
    font-size: 14px;
    font-weight: 400;
}