<aside class="left left-content">
  <aside class="aside-item collection-category blog_cate">
    <div class="title_module">
      <h2><span>Danh mục tin tức</span></h2>
    </div>
    <div class="aside-content aside-cate-link-cls aside-cate-blog">
      <nav class="cate_padding nav-category navbar-toggleable-md">
        <ul class="nav-ul nav navbar-pills"></ul>
      </nav>
      <span class="border-das-sider"></span>
    </div>
  </aside>

  <div class="aside-item">
    <div>
      <div class="title_module">
        <h2><a [routerLink]="['/home-page']" title="Tin tức nổi bật">Tin tức nổi bật</a></h2>
      </div>
      <div class="list-blogs">
        <div class="blog_list_item" *ngFor="let data of httpData">
          <article class="blog-item blog-item-list row">
            <div class="blog-item-thumbnail img1 col-sm-4"
              onclick="window.location.href='/chang-can-dau-tu-do-dat-tien-chi-chut-gel-nha-dam-la-du-de-ban-phuc-hoi-cho-toc-mem-muot-bong-benh-sau-tet';">
              <a
                href="/chang-can-dau-tu-do-dat-tien-chi-chut-gel-nha-dam-la-du-de-ban-phuc-hoi-cho-toc-mem-muot-bong-benh-sau-tet">
                <picture>
                  <source media="(max-width: 480px)" srcset="
                        {{ data.image }}
                      " />
                  <source media="(min-width: 481px) and (max-width: 767px)" srcset="
                        {{ data.image }}
                      " />
                  <source media="(min-width: 768px) and (max-width: 1023px)" srcset="
                        {{ data.image }}
                      " />
                  <source media="(min-width: 1024px) and (max-width: 1199px)" srcset="
                        {{ data.image }}
                      " />
                  <source media="(min-width: 1200px)" srcset="
                        {{ data.image }}
                      " />
                  <img src="{{ data.image }}" style="max-width: 100%" class="img-responsive" alt="{{ data.title }}" />
                </picture>
              </a>
            </div>
            <div class="ct_list_item col-sm-8">
              <h3 class="blog-item-name" style="color: black; font-size: 15px">
                <a
                  href="/chang-can-dau-tu-do-dat-tien-chi-chut-gel-nha-dam-la-du-de-ban-phuc-hoi-cho-toc-mem-muot-bong-benh-sau-tet">{{ data.title }}</a>
              </h3>
              <span class="time_post"><i class="fa fa-clock-o"></i>&nbsp; {{ data.timePost }}</span>
            </div>
          </article>
          <!-- <article class="blog-item blog-item-list row">
            <div class="blog-item-thumbnail img1 col-sm-4"
              onclick="window.location.href='/chang-can-dau-tu-do-dat-tien-chi-chut-gel-nha-dam-la-du-de-ban-phuc-hoi-cho-toc-mem-muot-bong-benh-sau-tet';">
              <a
                href="/chang-can-dau-tu-do-dat-tien-chi-chut-gel-nha-dam-la-du-de-ban-phuc-hoi-cho-toc-mem-muot-bong-benh-sau-tet">
                <picture>
                  <source media="(max-width: 480px)" srcset="
                        {{ data.image }}
                      " />
                  <source media="(min-width: 481px) and (max-width: 767px)" srcset="
                        {{ data.image }}
                      " />
                  <source media="(min-width: 768px) and (max-width: 1023px)" srcset="
                        {{ data.image }}
                      " />
                  <source media="(min-width: 1024px) and (max-width: 1199px)" srcset="
                        {{ data.image }}
                      " />
                  <source media="(min-width: 1200px)" srcset="
                        {{ data.image }}
                      " />
                  <img src="//bizweb.dktcdn.net/100/379/259/articles/03.jpg?v=1583402080087" style="max-width: 100%"
                    class="img-responsive"
                    alt="Chẳng cần đầu tư đồ đắt tiền, chỉ chút gel nha đam là đủ để bạn phục hồi cho tóc mềm mượt, bồng bềnh sau Tết" />
                </picture>
              </a>
            </div>
            <div class="ct_list_item col-sm-8">
              <h3 class="blog-item-name" style="color: black; font-size: 15px">
                <a
                  href="/chang-can-dau-tu-do-dat-tien-chi-chut-gel-nha-dam-la-du-de-ban-phuc-hoi-cho-toc-mem-muot-bong-benh-sau-tet">Chẳng
                  cần đầu tư đồ đắt tiền, chỉ chút gel nha đam là đủ để
                  bạn phục hồi cho tóc mềm mượt, bồng bềnh sau Tết</a>
              </h3>
              <span class="time_post"><i class="fa fa-clock-o"></i>&nbsp; 05/03/2020</span>
            </div>
          </article>
          <article class="blog-item blog-item-list row">
            <div class="blog-item-thumbnail img1 col-sm-4"
              onclick="window.location.href='/chang-can-dau-tu-do-dat-tien-chi-chut-gel-nha-dam-la-du-de-ban-phuc-hoi-cho-toc-mem-muot-bong-benh-sau-tet';">
              <a
                href="/chang-can-dau-tu-do-dat-tien-chi-chut-gel-nha-dam-la-du-de-ban-phuc-hoi-cho-toc-mem-muot-bong-benh-sau-tet">
                <picture>
                  <source media="(max-width: 480px)" srcset="
                        {{ data.image }}
                      " />
                  <source media="(min-width: 481px) and (max-width: 767px)" srcset="
                        {{ data.image }}
                      " />
                  <source media="(min-width: 768px) and (max-width: 1023px)" srcset="
                        {{ data.image }}
                      " />
                  <source media="(min-width: 1024px) and (max-width: 1199px)" srcset="
                        {{ data.image }}
                      " />
                  <source media="(min-width: 1200px)" srcset="
                        {{ data.image }}
                      " />
                  <img src="//bizweb.dktcdn.net/100/379/259/articles/03.jpg?v=1583402080087" style="max-width: 100%"
                    class="img-responsive"
                    alt="Chẳng cần đầu tư đồ đắt tiền, chỉ chút gel nha đam là đủ để bạn phục hồi cho tóc mềm mượt, bồng bềnh sau Tết" />
                </picture>
              </a>
            </div>
            <div class="ct_list_item col-sm-8">
              <h3 class="blog-item-name" style="color: black; font-size: 15px">
                <a
                  href="/chang-can-dau-tu-do-dat-tien-chi-chut-gel-nha-dam-la-du-de-ban-phuc-hoi-cho-toc-mem-muot-bong-benh-sau-tet">Chẳng
                  cần đầu tư đồ đắt tiền, chỉ chút gel nha đam là đủ để
                  bạn phục hồi cho tóc mềm mượt, bồng bềnh sau Tết</a>
              </h3>
              <span class="time_post"><i class="fa fa-clock-o"></i>&nbsp; 05/03/2020</span>
            </div>
          </article> -->
        </div>
      </div>
    </div>
  </div>
</aside>